body{
    background-color: white;
}

#checkout{
    padding-bottom: 0;
}

#checkout .card{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.title img[alt="logo"]{
    height: 150px;
    width: auto;
    background: #13a498;
    border-radius: 10px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

select {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1.5vh 1vh;
    margin-bottom: 3vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}

#checkout input{
    margin-bottom: 3vh;
}

.d-flex{
    gap:20px;
}

#checkout .summary .col{
    padding: 0;
}
#checkout .summary .col-2{
    padding: 0;
}

.summary{
    background-color: #ddd;
    padding: 20px;
}

.box{
    background: white;
    /* padding: 1vh 5vh 2vh; */
    border-radius: 12px;
    box-shadow: -1px 0px 10px 0 rgba(0, 0, 0, 0.15);
}

.box .col-4 {
    margin-left: 5px;
}

.box .col{
    text-align: right;
}

.mb-3 .btn{
    background-color: #13a498;
    border-color: #000;
    color: white;
    width: 100%;
    font-size: 1.3rem;
    margin-top: 4vh;
    padding: 1vh;
    border-radius: 0;
}
.mb-3 .btn:focus{
    box-shadow: none;
    outline: none;
    box-shadow: none;
    color: white;
    -webkit-box-shadow: none;
    transition: none; 
}
.mb-3 .btn:hover{
    background-color: #16cbbc;
    color: white;
}

.mb-5 h4{
    margin-top: 1vh;
    text-align: center;
    font-size: 2em;
    font-weight: 600;
    line-height: 1.4em;
}

.pb-4 img[alt="pets"]{
    height: 150px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.back-to-cart a{
    text-decoration: none;
    
}